@charset "utf-8";

img {
  height: 5em;
}

<<<<<<< HEAD
=======

.content-bottom{
  padding-top: 30em;

<<<<<<< HEAD
}*/

>>>>>>> 6ccbcfdfd5b667ced05dd612b485c8de02e067f3
.content-bottom img {
  height: 30em;
  width: 70em;
=======
>>>>>>> parent of 6ccbcfd... Automated commit at 2015-06-29 00:14:03 UTC by middleman-deploy 1.0.0
}

h2 {
  color: white !important;
}
.top-nav-area, .bottom-area  {
  background-color: #2980b9 !important;

}

hr {
  height: 2em;
}

.about-us-img img {
  height: 15em;
  width: 27em;
}

.projects-img img {
  height: 15em;
  width: 20em;
}

.who-we-are-img img {
  height: 10em;
  width: 16em;
}

.bottom-area-img img {
  height: 6em;
  /*margin-top: 5em;
  margin-bottom: 5em;*/
}

.bottom-area-map img {
  height: 8em;
}

h3 {
  color: #2980b9;
}

.nav-area-right {
  color: white !important;
}

.no-style-li {
  list-style-type: none;
}
