@charset "utf-8";

@media (max-width: 768px) {
  .main-page-background{
    margin-top: 50px !important;
   }

  .content-bottom p {
    font-size: 1em !important;
    margin-top: -77px !important;
  }

  .blue-bar {
    height: 5.5em !important;
  }

  .projects-img {
    width: 70em !important;
  }

  .navbar-header h3 {
     font-size: 1em !important;
   }

  #mc_embed_signup h3 {
    font-size: 1.5em !important;
  }

  .project-section h3 {
    font-size: 2.5em !important;
    max-width: 50em !important;
  }

  .project-section p {
    font-size: 1.5em !important;
    max-width: 50em !important;
   }

   .about-us-text {
    font-size: 1.5em !important;
   }

   .who-we-are-img p {
    font-size: 2em !important;
   }

   #aol-nav-collapse {
    font-size: 1.5em !important;
   }

   h1 {
    font-size: 2em !important;
   }

   h2 {
    font-size: 2em !important;
   }

   .col-md-3 img {
     height: 5em !important;
   }

   .col-md-3 p {
    font-size: 2em !important;
   }

   .bottom-area-map center img {
     width: 80em !important;
   }
}

@media (min-width: 768px) and (max-width:991px){
  .projects-img {
    width: 70em !important;
  }

  .navbar-header h3 {
     font-size: 2.5em !important;
   }

  #mc_embed_signup h3 {
    font-size: 1.5em !important;
  }

  .project-section h3 {
    font-size: 3.5em !important;
    max-width: 50em !important;
  }

  .project-section p {
    font-size: 2.5em !important;
    max-width: 50em !important;
   }

   .about-us-text {
    font-size: 2.5em !important;
   }

   .who-we-are-img p {
    font-size: 2.5em !important;
   }

   #aol-nav-collapse {
    font-size: 1.5em !important;
   }

   h1 {
    font-size: 3em !important;
   }

   .col-md-3 img {
     height: 8em !important;
   }

   .col-md-3 p {
    font-size: 2em !important;
   }

   .bottom-area-map center img {
     width: 80em !important;
   }

   h2 {
    font-size: 3em !important;
   }

  .main-page-background{
    margin-top: 50px !important;
   }

  .content-bottom p {
    font-size: 1.8em !important;
    margin-top: -130px !important;
    bottom: 0;
  }
}


@media (max-width: 991px) {
  .navbar-header {
      float: none !important;
    }
    .navbar-toggle {
      display: block !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent !important;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1) !important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px !important;
    }
    .navbar-nav>li {
        float: none !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .navbar-text {
        float: none !important;
        margin: 15px 0 !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .collapsing {
        overflow: hidden !important;
    }
}


@media (min-width: 1200px) {
  .content-bottom p {
    margin-top: -79px !important;
    bottom: 0;
  }
  .main-page-background{
    margin-top: 15px !important;
   }
}

body, html {
  margin:0;
  height: 100%;
  font-family:'Lato', sans-serif !important;
}

.top-nav-area  {
  background-color: white !important;
  position: relative;
}

.nav-area-right {
  /*color: #78A719 !important;green
  /*color: #B31B1B !important; red*/
  color: #106B6B;
}

#main-page-content {
  width: 100%;
}


.content-bottom p {
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5em;
  margin-top: -112px;
  bottom: 0;
}

.project-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 5%
}

.project-section h3 {
  text-align:left;
  max-width: 255px;
}

.project-section p {
  font-size: 1.2em;
  text-align:left;
  max-width: 255px;
  padding-top: 1%;
  color: gray;
}

#about-us-content {
  /*background-color: #B31B1B;red*/
  /*background-color: #78A719; green */
  background-color: #106B6B;
}

.about-us-text {
  font-size: 1.2em;
  color: white;
}


.who-we-are-img {
  padding-top: 5%;
}

.who-we-are-img p, h4 {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

h2 {
  /*color: #B31B1B !important; red*/
  /*color: #78A719 !important; green*/
  color: #106B6B;

}

hr {
  height: 2em;
  margin-top: 5em !important;
  margin-bottom: 5em !important;
}

a:hover {
  /*color: #B31B1B !important; red*/
  /*color: #78A719 !important; green*/
  color: #106B6B;
}

h3 {
  font-size: 2em;
}

a {
  cursor: pointer !important;
  cursor: hand !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-style-li {
  list-style-type: none;
}

.no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blue-bar {
  /*background-color: #B31B1B; red*/
  /*background-color: #78A719; green*/
  background-color: #106B6B;
  width: 100%;
  height: 5em;
}

.blue-arrow {
  margin-top: -3.5em;
}

.blue-arrow-down{
  margin-top: 3em;
  margin-bottom: -3.5em;
}

.bottom-area {
  /*background-color: #B31B1B !important; red*/
  /*background-color: #78A719 !important; green*/
  background-color: #106B6B;
  padding: 2%;
}

.logo-image {
  height: 5em;
  margin-top: 3%;
  display: inline !important;
}

.bottom-address {
  font-size: 1.2em;
}
